.App {
  text-align: left;
  letter-spacing: 2px;
}


.Mylist{
  list-style-type:none;
  padding-left: 2in;
}

.list{
  margin: 30px
}

.App-header{
  text-align: center;
}

table{
  width: 100%;
}
.Table-mobileNo{
  padding-left: 25%;
}
.Table-cost{
  padding-right: 20%;
  text-align: right;
}
th{
  font-size: 25px;
  text-align:center;
}





